{% extends 'base_forms.html' %}

{% block titulo %}Add New Item Colection{% endblock %}

{% block contenido %}
<article>
	<h4>Add Collection</h4>

	<form method="POST">
	  {% csrf_token %}
	  <div class="form-group">	
	    <label for="exampleFormControlInput1">Title</label>
	    <input type = "text" name="title" class="form-control" id="exampleFormControlInput1">
	  </div>
	  <br>
	  <div class="form-group">
	    <label for="exampleFormControlTextarea1">Content</label>
	    <textarea name = "info" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	  </div>
	  <br>
	  <button type="submit" class="btn btn-primary">Add Collection</button>
	</form>

</article>




{% endblock%}