{% extends 'base_forms.html' %}

{% block titulo %}Watch: {{this_show.show_title}}{% endblock %}

{% block contenido %}
<article>

<h4>Watch: {{this_show.show_title}}</h4>

  <form method="POST">
    {% csrf_token %}
    <div class="row">
    <div class="form-group col-sm-4">
      <label for="exampleFormControlInput1">Start Date:</label>
      <input type = "text" name="start_date" class="form-control" id="datepicker">
    </div>
    <div class="form-group col-sm-4">
      <label for="exampleFormControlInput1">Finish Date:</label>
      <input type = "text" name="finish_date" class="form-control" id="datepicker2">
    </div>
    <div class="form-group col-sm-4">
  
        <label for="exampleFormControlInput1">&nbsp;&nbsp;</label>
        <button type="submit" class="btn btn-primary" style="width:100%">Reg Watch</button>
    </div>
  </div>
    <br>
 

  </form>


</article>

<br>




{% endblock%}