{% extends 'base_forms.html' %}

{% block titulo %}Add New Page{% endblock %}

{% block contenido %}
<article>
	<h4>Edit {{this_page.page_title}}</h4>

	<form method="POST">
	  {% csrf_token %}
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Title</label>
	    <input type = "text" name="titulo" value="{{this_page.page_title}}" class="form-control" id="exampleFormControlInput1">
	  </div>
	  <br>
	  <div class="form-group">
	    <label for="exampleFormControlSelect1">Type</label>
	    <select class="form-control" name="tipo" id="exampleFormControlSelect1">
	    	{% for w in tipos %}
	      		<option value = "{{w}}" {% if this_page.tipo == w %}selected{% endif %}>{{w}}</option>
	    	{% endfor %}
	    </select>
	  </div>
	  <br>
	  <div class="form-group">
	    <label for="exampleFormControlTextarea1">Content</label>
	    <textarea name = "contenido" class="form-control" id="exampleFormControlTextarea1" rows="12">{{this_page.page_content}}</textarea>
	  </div>
	   <br>
	   <div class="form-group">
	    <label for="exampleFormControlInput1">Importancia</label>
	    <input type = "text" name="importancia" value="{{this_page.importancia}}" width="25" class="form-control" id="exampleFormControlInput1">
	  </div>
	  <br>
	  <button type="submit" class="btn btn-primary">Add Entity</button>
	</form>

</article>




{% endblock%}