{% extends 'base_forms.html' %}

{% block titulo %}Edit {{this_book.titulo}}{% endblock %}

{% block contenido %}
<article>

	<h4>Edit {{this_book.titulo}}</h4>

	<form method="POST">
	  {% csrf_token %}
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Title</label>
	    <input type = "text" name="title" value="{{this_book.title}}" class="form-control" id="exampleFormControlInput1">
	  </div>

	    <input type="hidden" name="cat_id" value="19" id="exampleFormControlSelect1">
	  <br>
	  <div class="form-group">
	    <label for="exampleFormControlTextarea1">Info</label>
	    <textarea name = "info" class="form-control" id="exampleFormControlTextarea1" rows="12">{{this_book.info}}</textarea>
	  </div>
	  <br>
	  <input type="hidden" name="media_type" value="1">
	  <input type="hidden" name="media_id" value="{{this_book.id}}">
	  <button type="submit" class="btn btn-primary">Save Changes</button>
	</form>

</article>




{% endblock%}