{% extends 'base_listing.html' %}

{% block titulo %}Movie History{% endblock %}

{% block contenido %}

<article>
		<h4>A Year of Movies {{anho}} Edition</h4>

	  <ul class="list-group" reversed>
        {% for a in wmovies %}
          <li class="list-group-item">
          	<span style="font-family:Consolas; color:grey;">[{{a.wdate|date:"m/d"}}]</span>
         <a href="{% url 'movie' a.film.id %}" style="color:black; text-decoration: none;">{{a.film.titulo}}</a>
          </li>
        {% endfor %}
      </ul>


</article>
<br>


{% endblock%}



{% block rightbar %}
<br>

<h4>History ({{conteo}})</h4>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'movieduel' %}" style="color:black; text-decoration: none;">Movie Rankings</a>
          </li>
        {% for d in anhos %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{% url 'movies' d.wdate__year %}" style="color:black; text-decoration: none;"> {{d.wdate__year}} ({{d.qbooks}})</a>
          </li>
        {% endfor %}
      </ul>
{% endblock %}