{% extends 'base.html' %}

{% block titulo %}Match Activity{% endblock %}

{% block contenido %}


 <article >
    <h4>Add Teams to {{liga.nombre}}</h4>
     <form method="POST">
        {% csrf_token %}
    {% for e in equipos %}
    <div class="form-check">
        <input class="form-check-input" name="{{e.nombre}}" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
           {{e.nombre}}
        </label>
    </div><br>

     {% endfor %}
    <button type="submit" class="btn btn-primary">Add Teams</button>
     </form>



    </article>


{% endblock %}

{% block rightbar %}


{% endblock %}