{% extends 'base_soccer.html' %}

{% block titulo %}Match Activity{% endblock %}

{% block contenido %}

<h4>{{lig.nombre}} {{ptitulo}} | <a href="{{iot}}">{{ot}}</a> | <a href="{% url 'viewTable' lig.id %}">Position Table</a> | <a href="{% url 'addmatch' lig.id %}">Add Match</a>
| <a href="{% url 'unirligateams' lig.id %}">Add Teams</a>
</h4>

 <article class="my-3" id="card">
    {% if matches %}
        {% for m in matches %}

        <div class="col">
            <div class="card">
              <div class="card-header">
                {{m.liga.nombre}} | {{m.fecha}}
              </div>
              <div class="card-body">
                <div style="width:40%; height:30px; float: left;">
                    <img src="{{ m.local.logo.url }}" style="height: 30px;">
                    <div style="float:right; text-align:right;" class="truncate-text"><h5>{{ m.local.nombre }}</h5></div>
                </div>
                <div style="width:20%; height:30px;  float: left; text-align: center; color:blue;"><h5>
                {% if m.terminado == True %}
                {{m.marcador}}
                {% else %}
                &nbsp;-&nbsp;
                {% endif%}
            </h5>
                </div>
                <div style="width:40%; height:30px;  float: left;">
                    <div style="float:left; text-align:left;" class="truncate-text"><h5>{{ m.visita.nombre }}</h5></div>
                    <img src="{{ m.visita.logo.url }}"  style="height: 30px; float:right;">
                </div>

              </div>
              <div class="card-footer text-muted">
                {{m.fase}} | <a href="{% url 'viewmatch' m.id %}">view</a>
              </div>
            </div>
        </div>
        <br>

        {% endfor %}
    {% endif %}
</article>


{% endblock %}

{% block rightbar %}
<br><br>
<h4>Leagues</h4>
      <ul class="list-group">

        {% for l in ligas %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{% url 'viewliga' 1 l.id %}" style="color:black; text-decoration: none;"> {{l.nombre}}</a>
          </li>
        {% endfor %}
      </ul>
{% endblock %}