{% extends 'base_dash.html' %}

{% block titulo %}{{ ptitulo }}{% endblock %}



{% block principal %}
	<div class="row">
    <div class="col-sm-6">

        <h4>{{this_coleccion.nombre}}</h4>

        <p><a href="{% url 'epubGen' this_coleccion.id %}" target="_blank">Generar HTML</a></p>

        {% if colitems %}
      <ul class="list-group">
        {% for i in colitems %}
          <li class="list-group-item">
            <a href="{% url 'viewPagina' i.id %}" style="text-decoration: none;">{{i.pagina.titulo}} ({{i.pagina.categoria.nombre_categoria}})</a>
          </li>
        {% endfor %}
      </ul>

      {% endif %}

      

    </div>
    <div class="col-sm-6">

      <h5>Agregar Item a la colección</h5>


           <form method="POST" action="#">
              {% csrf_token %}
            <div class="form-group">
             <div class="row">
            <div class="form-group col-sm-9 ">
             
              <input type = "text"  name="key_words" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group col-sm-3">
              
              <button type="submit" class="btn btn-primary" style="width:80%">Search</button>
            </div>
            </div>
          </form>

           <br>

      <div class="table-responsive small">

         {% if searchItems %}

        <table class="table table-striped table-sm w-auto">

         
            <tbody>
            {% for p in searchItems %}
            <tr>
              <td>{{p.categoria.nombre_categoria}}</td>
              <td><a href="{% url 'addRelacionIC' this_coleccion.id p.id %}" style="text-decoration: none;">{{p.titulo}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
          
      </table>
      {% endif %}

    </div>
    </div>
  </div>
{% endblock %}